<h3>Hello Young Wizard</h3>

<form action="/spell" method="post">
    <input type="text" name="spell">
    <input type="submit" value="Cast">
</form>
<a href="/wands">See all wands</a><br/>
<a href="/wands/choose">Find your wand</a>

