<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"><br/>
    <input type="password" name="password" placeholder="Password"><br/>
    <input type="submit" value="Log In">
</form>

<%= login_error_messages(@errors) %>